%h1 All ITS Topics

%table
  %thead
    %tr
      %th Topic
      %th Learning
      %th Understood
      %th Subject
      %th Repeat
      %th
      %th
      %th

  %tbody
    - @its.each do |it|
      %tr
        %td= it.topic
        %td= it.learning
        %td= it.understood
        %td= it.subject
        %td= it.repeat
        %td= link_to 'Show', it
        %td= link_to 'Edit', edit_it_path(it)
        %td= link_to 'Destroy', it, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Its', new_it_path
