%p#notice= notice

%p
  %b Topic:
  = @it.topic
%p
  %b Learning:
  = @it.learning
%p
  %b Understood:
  = @it.understood
%p
  %b Subject:
  = @it.subject
%p
  %b Repeat:
  = @it.repeat

= link_to 'Edit', edit_it_path(@it)
\|
= link_to 'Back', its_index_path
