%p#notice= notice

%p
  %b Topic:
  = @a.topic
%p
  %b Learning:
  = @a.learning
%p
  %b Understood:
  = @a.understood
%p
  %b Repeat:
  = @a.repeat

= link_to 'Edit', edit_a_path(@a)
\|
= link_to 'Back', as_index_path
