= simple_form_for(@wsk) do |f|
  = f.error_notification

  .form-inputs
    = f.input :topic
    = f.input :learning
    = f.input :understood
    = f.input :repeat

  .form-actions
    = f.button :submit
