%p#notice= notice

%p
  %b Topic:
  = @ten.topic
%p
  %b Learning:
  = @ten.learning
%p
  %b Understood:
  = @ten.understood
%p
  %b Repeat:
  = @ten.repeat

= link_to 'Edit', edit_ten_path(@ten)
\|
= link_to 'Back', tens_path
