%p#notice= notice

%p
  %b Topic:
  = @bp.topic
%p
  %b Learning:
  = @bp.learning
%p
  %b Understood:
  = @bp.understood
%p
  %b Repeat:
  = @bp.repeat

= link_to 'Edit', edit_bp_path(@bp)
\|
= link_to 'Back', bps_path
